{% extends "base.html.twig" %}

{% block title %}
   
{% endblock %}

{% block body %}
    {# <h1>
        page about
    </h1> #}
<h2>A propos</h2>
<p>Cette application a été réaliser par Morgan Achache dans le cadre de la formation develloppeur Fullstack de l'it Akademy</p>



{% endblock %}